.button-a {
    padding: 2px 5px;
    color: #93a1a1;
}

.button-space {
    border: none;
    padding: 0;
    background: none;
}

.edit-button {
    color: #009688;
    font-size: 28px;
}

.edit-button:hover {
    background-color: #DDDDDD;
    border-radius: 5px;
    color: #37A68E;
}

.delete-button {
    padding: 2px 8px;
    color: #bb2417;
    font-size: 28px;
}

.delete-button:hover {
    background-color: #DDDDDD;
    border-radius: 5px;
    color: #Fb4437;
}


.button-a:hover, .button-a:active, .button-a:focus {
    cursor: pointer !important;
    text-decoration: none;
}

.form-delete{
   display: inline-block; 
}


.select-box{
    width: 100%;
}

.img-display{
    display: inline-block;
    padding: 20px 20px;
    margin: 0px 0px -16px -20px;
    border-radius: 30px;
}

.img-round {
    border-radius: 15px;
}

.media-box {
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
    margin: 0px 0px 0px -20px;
}

.post-box {
    margin: 10px 0;
}

.category-style{
    column-count: 2;
}